<html>

<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename ='style.css')}}">
</head>

<body>

<h1> Catagories: </h1>
</br>

<a href='{{url_for('showLogin',)}}'>Login</a>
<a href='{{url_for('gdisconnect',)}}'>Logout</a>
</br>
</br>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


<body>

<a href = '{{url_for('addcatagory')}}'>Add New Catagory</a>
</br>


{%for x in catagories%}

<div>

<p> {{ x.name}}, {{ x.id}} </p>
 

<a href='{{url_for('editcatagory',catagory_id = x.id)}}'>Edit</a>


<a href='{{url_for('deletecatagory', catagory_id= x.id)}}'>Delete</a>


<a href='{{url_for('equipmentItem', catagory_id= x.id)}}'>View</a>

</div>

{% endfor %}
</body>

</html>