<html>

<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename ='style.css')}}">
</head>

<body>
<form action= '{{url_for('newEquipmentItem', catagory_id =c.id)}}' method = 'POST'>

<h1>Add new equipment item for {{c.name}}</h1>

</br>
<input type = 'text' size='30' name = 'name' placeholder = 'Name'>

</br>

<input type = 'text' size='30' name = 'description' placeholder = 'Description'>
</br>

<input type = 'text' size='30' name = 'price' placeholder = 'Price'>
</br>
</br>
<input type='submit' value='Submit'>

</form> 

<a href= '{{url_for('equipmentItem', catagory_id = c.id)}}'>Cancel</a>

</body>
</html>