<html>

<head>
<link rel=stylesheet type=text/css href="{{url_for('static', filename ='style.css')}}">
</head>

<body>

<h1> {{ce.name}} Equipment(s) </h1>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>
<a href = '{{url_for('newEquipmentItem',catagory_id = ce.id)}}'>Add new equipment</a>
</br>
</br>

{%for r in items%}

<div>

<p>Equipment name:  
{{ r.name}}
</br>

Description:
{{ r.description}} 
</br>

Price:
{{ r.price}}  

</p>
  
<a href='{{url_for('editEquipmentItem',catagory_id = r.Catagory_id, equipment_id = r.id)}}'>Edit</a> 

<a href='{{url_for('deleteEquipmentItem',catagory_id = r.Catagory_id, equipment_id = r.id)}}'>Delete</a>


</br>
</br>

</div>

{% endfor %}


<a href= '{{url_for('catagory')}}'>Cancel</a>

</body>

</html>